Heres the new action

<form action="/items" method="post">
  <p>item name: <input type="text" name="item_name"></p>
  <p>description: <input type="text" name="description"></p>
  <p>price: <input type="text" name="price"></p>
  <p>supplier: <input type="text" name="supplier_id"></p>

  <input type="submit" value="make the item">
</form>